---
import About from "@pages/en/about/index.astro";
import cvEnglish from "@assets/cv_english.pdf";
---

<About>
    <h1>Experience</h1>
    <section class="section_content">
        <h2>Backend Engineer</h2>
        <div class="indent">
            <h3>
                <a href="https://www.softserveinc.com/en-us">Softserve</a> (February
                2024 - Present)
            </h3>
            <ul>
                <li>
                    Contribute to the deployment and maintenance of integrations
                    made for customers in biology and medicine fields, by
                    developing new features, fixing existing bugs and
                    refactoring legacy code.
                </li>
                <li>
                    Managing serverless integrations, by developing and
                    deploying new features, fixing existing bugs, and
                    refactoring the codebase, using AWS services like Lambda,
                    API Gateway, S3, DynamoDB, and SQS.
                </li>
                <li>
                    Identify, triage, and resolve issues in the integrations, by
                    monitoring application logs using tools like Cloud- Watch,
                    Datadog, Sumologic, and Sentry, leading to a 98% uptime of
                    the integrations
                </li>
                <li>
                    Finding and deleting unused resources in the cloud, reducing
                    the cost of the infrastructure and improving the performance
                    of the application.
                </li>
                <li>
                    Writing performance tests for the application, identifying
                    bottlenecks and improving the performance of the
                    application, leading up to 800% performance improvement in
                    certain endpoints.
                </li>
                <li>
                    Contributing with talks and workshops about software
                    development, cloud services, and best practices in the
                    company, leading to a better understanding of the
                    technologies used in the company and by our clients.
                </li>
                <li>
                    Contributing to social projects in the company, by teaching
                    and guiding students in the development of software
                    projects, leading to a better understanding of the
                    technologies used in the industry and a better preparation
                    for the students future.
                </li>
                <li>
                    Leading the Python community in the company, by organizing
                    talks, workshops, and hackathons, leading to a better
                    understanding of the language and the best practices in the
                    company
                </li>
            </ul>
            <p>
                <span>Skills and tools:</span> Python, TypeScript, JavaScript, AWS,
                Serverless, Lambda, API Gateway, S3, DynamoDB, SQS, CloudWatch, Datadog,
                Sumologic, Sentry, Git, Agile Development, Project Management, Performance
                Testing.
            </p>
        </div>
    </section>
    <section class="section_content">
        <h2>FullStack Engineer</h2>
        <div class="indent">
            <h3>
                <a href="https://www.inchcape.com/es-co/">Inchcape</a> (October 2023
                - February 2024)
            </h3>
            <ul>
                <li>
                    Contribute to over ten websites in over five countries by
                    maintaining, developing new features, fixing existing bugs
                    and refactoring the codebase, leading to opening new markets
                    expecting to increase the company's revenue.
                </li>
                <li>
                    Improve the user experience of the websites by developing
                    features specific for each country, and by following
                    user-centered design principles, increasing the user
                    engagement and the conversion rate.
                </li>
            </ul>
            <p>
                <span>Skills and tools:</span> C# (C-Sharp), JavaScript, Html, Css,
                .Net, Umbraco, Atlassian, Jira, Git, Agile Software Development,
                Project Management
            </p>
        </div>
    </section>
    <section class="section_content">
        <h2>Backend Engineer</h2>
        <div class="indent">
            <h3>
                <a href="https://www.bestfriend.finance/">Best Friend Finance</a
                > (July 2022 - May 2023)
            </h3>
            <h3>Previously <a href="https://reserve.org/">Reserve</a></h3>
            <ul>
                <li>
                    Optimize, refactor and create over ten API endpoints, by
                    implementing new features and fixing existing bugs,
                    improving the stability of the application up to 99.98%
                </li>
                <li>
                    Open the door to the Mexican market by integrating a
                    third-party remittances provider, allowing users to withdraw
                    and deposit money using cash, reaching to a market of $58.5
                    billion.
                </li>
                <li>
                    Improve the robustness of the application in different
                    workload scenarios, by implementing a customizable load
                    testing tool, allowing the team to identify bottlenecks and
                    improve the performance of the application.
                </li>
            </ul>
            <p>
                <span>Skills and tools:</span> Python, JavaScript, Html, Css, FastAPI,
                React, Full-Stack Backend Development, RESTful API Development, API
                Integrations, Git, Agile Software Development, Project Management.
            </p>
        </div>
    </section>
    <section class="section_content">
        <h2>Full Stack Engineer</h2>
        <div class="indent">
            <h3>
                <a href="https://kommit.co/">Kommit</a> (October 2021 - July 2022)
            </h3>
            <ul>
                <li>
                    Develop a patient-specific, teeth-like interface,
                    demographically optimized for the target audience, by imple-
                    menting a custom React component library, increasing user
                    engagement by 15%.
                </li>
                <li>
                    Craft intuitive user interfaces, optimized for the target
                    audience demographic to enhance user experience and
                    engagement, by implementing a custom React component,
                    increasing user engagement by 15%.
                </li>
                <li>
                    Built a role-based database model for efficient management
                    of patient, doctor, and appointment data assuring data
                    integrity and security
                </li>
                <li>
                    Oversaw deployment, setup, and configuration of the
                    application on Digital Ocean servers using Docker, en-
                    suring a smooth and efficient deployment process
                </li>
            </ul>
            <p>
                <span>Skills and tools:</span> JavaScript, Python, SQL, React, Flask,
                PostgreSQL, Docker, Digital Ocean, Freelance Development, Full- Stack
                Development, Project Management, Git, Agile Software Development,
                RESTful API Development
            </p>
        </div>
    </section>
    <h2>Soft Skills</h2>
    <section class="section_content">
        <div class="indent">
            <p>
                Autonomy, Teamwork, Goal-Oriented, Leadership, Conflict
                Management, Teaching Skills, Active Listening, Clear
                Communication, Problem-Solving, Flexibility, Creative Thinking,
                Time Management, Attention to Detail, User- Centric Approach,
                Analytical Skills, Emotional Intelligence, Project Management,
                Persistence.
            </p>
        </div>
    </section>
    <h2>Education</h2>
    <section class="section_content">
        <div class="indent">
            <h3>
                Systems Engineer
                <a href="https://www.univalle.edu.co/">Universidad del Valle</a>
                (2016 - 2021)
            </h3>
        </div>
    </section>
    <a href={cvEnglish} download>
        <button>Download CV</button>
    </a>
</About>
<style>
    ul {
        list-style-type: disc;
        padding-left: 1.5rem;
        margin-top: 1rem;
        color: white;
        li {
            margin-bottom: 0.5rem;
            font-size: 1.3rem;
            color: var(--primaryBaseColor);
            word-spacing: 0.1rem;
            line-height: 1.4;
        }
    }
    h1 {
        margin-bottom: 2rem;
    }
    .section_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;
    }
    .indent {
        padding-left: 1.5rem;
    }
    a {
        display: inline-block;
        margin-top: 2rem;
        text-decoration: none;
        color: black;
    }
    button {
        padding: 1rem 2rem;
        background-color: var(--secondaryHighlightColor);
        color: black; /* Update button text color to black */
        border: none;
        cursor: pointer;
    }
    button:hover {
        background-color: var(--primaryHighlightColor);
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p {
        margin-top: 2rem;
    }
    a:not([download]) {
        color: var(--primaryHighlightColor);
        font-style: italic;
    }
    span {
        color: var(--primaryHighlightColor);
    }
    @media screen and (max-width: 1200px) {
        .image_paragraph {
            flex-direction: column;
        }
    }
</style>
