---
import About from "@pages/es/about/index.astro";
import cvSpanish from "@assets/cv_spanish.pdf";
---

<About>
    <h1>Experiencia</h1>
    <section class="section_content">
        <h2>Ingeniero Backend</h2>
        <div class="indent">
            <h3>
                <a href="https://www.softserveinc.com/en-us">Softserve</a> (Febrero
                2024 - Presente)
            </h3>
            <ul>
                <li>
                    Contribuir al despliegue y mantenimiento de integraciones
                    realizadas para clientes en los campos de biología y
                    medicina, desarrollando nuevas características, corrigiendo
                    errores existentes y refactorizando código heredado.
                </li>
                <li>
                    Gestionar integraciones sin servidor, desarrollando y
                    desplegando nuevas características, corrigiendo errores
                    existentes y refactorizando la base de código, utilizando
                    servicios de AWS como Lambda, API Gateway, S3, DynamoDB y
                    SQS.
                </li>
                <li>
                    Identificar, priorizar y resolver problemas en las
                    integraciones, monitoreando los registros de la aplicación
                    utilizando herramientas como CloudWatch, Datadog, Sumologic
                    y Sentry, logrando un 98% de tiempo de actividad de las
                    integraciones.
                </li>
                <li>
                    Encontrar y eliminar recursos no utilizados en la nube,
                    reduciendo el costo de la infraestructura y mejorando el
                    rendimiento de la aplicación.
                </li>
                <li>
                    Escribir pruebas de rendimiento para la aplicación,
                    identificando cuellos de botella y mejorando el rendimiento
                    de la aplicación, logrando hasta un 800% de mejora en el
                    rendimiento en ciertos puntos finales.
                </li>
                <li>
                    Contribuir con charlas y talleres sobre desarrollo de
                    software, servicios en la nube y mejores prácticas en la
                    empresa, logrando una mejor comprensión de las tecnologías
                    utilizadas en la empresa y por nuestros clientes.
                </li>
                <li>
                    Contribuir a proyectos sociales en la empresa, enseñando y
                    guiando a estudiantes en el desarrollo de proyectos de
                    software, logrando una mejor comprensión de las tecnologías
                    utilizadas en la industria y una mejor preparación para el
                    futuro de los estudiantes.
                </li>
                <li>
                    Liderar la comunidad de Python en la empresa, organizando
                    charlas, talleres y hackathons, logrando una mejor
                    comprensión del lenguaje y las mejores prácticas en la
                    empresa.
                </li>
            </ul>
            <p>
                <span>Habilidades y herramientas:</span> Python, TypeScript, JavaScript,
                AWS, Serverless, Lambda, API Gateway, S3, DynamoDB, SQS, CloudWatch,
                Datadog, Sumologic, Sentry, Git, Desarrollo Ágil, Gestión de Proyectos,
                Pruebas de Rendimiento.
            </p>
        </div>
    </section>
    <section class="section_content">
        <h2>Ingeniero FullStack</h2>
        <div class="indent">
            <h3>
                <a href="https://www.inchcape.com/es-co/">Inchcape</a> (Octubre 2023
                - Febrero 2024)
            </h3>
            <ul>
                <li>
                    Contribuir a más de diez sitios web en más de cinco países,
                    manteniendo, desarrollando nuevas características,
                    corrigiendo errores existentes y refactorizando la base de
                    código, logrando abrir nuevos mercados que se espera
                    aumenten los ingresos de la empresa.
                </li>
                <li>
                    Mejorar la experiencia del usuario de los sitios web,
                    desarrollando características específicas para cada país y
                    siguiendo principios de diseño centrados en el usuario,
                    aumentando el compromiso del usuario y la tasa de
                    conversión.
                </li>
            </ul>
            <p>
                <span>Habilidades y herramientas:</span> C# (C-Sharp), JavaScript,
                Html, Css, .Net, Umbraco, Atlassian, Jira, Git, Desarrollo Ágil de
                Software, Gestión de Proyectos.
            </p>
        </div>
    </section>
    <section class="section_content">
        <h2>Ingeniero Backend</h2>
        <div class="indent">
            <h3>
                <a href="https://www.bestfriend.finance/">Best Friend Finance</a
                > (Julio 2022 - Mayo 2023)
            </h3>
            <h3>Anteriormente <a href="https://reserve.org/">Reserve</a></h3>
            <ul>
                <li>
                    Optimizar, refactorizar y crear más de diez puntos finales
                    de API, implementando nuevas características y corrigiendo
                    errores existentes, mejorando la estabilidad de la
                    aplicación hasta un 99.98%.
                </li>
                <li>
                    Abrir la puerta al mercado mexicano integrando un proveedor
                    de remesas de terceros, permitiendo a los usuarios retirar y
                    depositar dinero en efectivo, alcanzando un mercado de $58.5
                    mil millones.
                </li>
                <li>
                    Mejorar la robustez de la aplicación en diferentes
                    escenarios de carga de trabajo, implementando una
                    herramienta de prueba de carga personalizable, permitiendo
                    al equipo identificar cuellos de botella y mejorar el
                    rendimiento de la aplicación.
                </li>
            </ul>
            <p>
                <span>Habilidades y herramientas:</span> Python, JavaScript, Html,
                Css, FastAPI, React, Desarrollo Backend Full-Stack, Desarrollo de
                API RESTful, Integraciones de API, Git, Desarrollo Ágil de Software,
                Gestión de Proyectos.
            </p>
        </div>
    </section>
    <section class="section_content">
        <h2>Ingeniero Full Stack</h2>
        <div class="indent">
            <h3>
                <a href="https://kommit.co/">Kommit</a> (Octubre 2021 - Julio 2022)
            </h3>
            <ul>
                <li>
                    Desarrollar una interfaz específica para pacientes,
                    optimizada demográficamente para el público objetivo,
                    implementando una biblioteca de componentes React
                    personalizada, aumentando el compromiso del usuario en un
                    15%.
                </li>
                <li>
                    Crear interfaces de usuario intuitivas, optimizadas para el
                    público objetivo demográfico para mejorar la experiencia y
                    el compromiso del usuario, implementando un componente React
                    personalizado, aumentando el compromiso del usuario en un
                    15%.
                </li>
                <li>
                    Construir un modelo de base de datos basado en roles para la
                    gestión eficiente de datos de pacientes, médicos y citas,
                    asegurando la integridad y seguridad de los datos.
                </li>
                <li>
                    Supervisar el despliegue, configuración y configuración de
                    la aplicación en servidores de Digital Ocean utilizando
                    Docker, asegurando un proceso de despliegue suave y
                    eficiente.
                </li>
            </ul>
            <p>
                <span>Habilidades y herramientas:</span> JavaScript, Python, SQL,
                React, Flask, PostgreSQL, Docker, Digital Ocean, Desarrollo Freelance,
                Desarrollo Full-Stack, Gestión de Proyectos, Git, Desarrollo Ágil
                de Software, Desarrollo de API RESTful.
            </p>
        </div>
    </section>
    <h2>Habilidades Blandas</h2>
    <section class="section_content">
        <div class="indent">
            <p>
                Autonomía, Trabajo en Equipo, Orientación a Metas, Liderazgo,
                Gestión de Conflictos, Habilidades de Enseñanza, Escucha Activa,
                Comunicación Clara, Resolución de Problemas, Flexibilidad,
                Pensamiento Creativo, Gestión del Tiempo, Atención al Detalle,
                Enfoque Centrado en el Usuario, Habilidades Analíticas,
                Inteligencia Emocional, Gestión de Proyectos, Persistencia.
            </p>
        </div>
    </section>
    <h2>Educación</h2>
    <section class="section_content">
        <div class="indent">
            <h3>
                Ingeniero de Sistemas
                <a href="https://www.univalle.edu.co/">Universidad del Valle</a>
            </h3>
        </div>
    </section>
    <a href={cvSpanish} download>
        <button>Descargar CV</button>
    </a>
</About>
<style>
    ul {
        list-style-type: disc;
        padding-left: 1.5rem;
        margin-top: 1rem;
        color: white;
        li {
            margin-bottom: 0.5rem;
            font-size: 1.3rem;
            color: var(--primaryBaseColor);
            word-spacing: 0.1rem;
            line-height: 1.4;
        }
    }
    h1 {
        margin-bottom: 2rem;
    }
    .section_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 2rem;
    }
    .indent {
        padding-left: 1.5rem;
    }
    a {
        display: inline-block;
        margin-top: 2rem;
        text-decoration: none;
        color: black;
    }
    button {
        padding: 1rem 2rem;
        background-color: var(--secondaryHighlightColor);
        color: black; /* Update button text color to black */
        border: none;
        cursor: pointer;
    }
    button:hover {
        background-color: var(--primaryHighlightColor);
    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p {
        margin-top: 2rem;
    }
    a:not([download]) {
        color: var(--primaryHighlightColor);
        font-style: italic;
    }
    span {
        color: var(--primaryHighlightColor);
    }
    @media screen and (max-width: 1200px) {
        .image_paragraph {
            flex-direction: column;
        }
    }
</style>
