---
import logo from "@assets/logo.svg?raw";
---

<script>
    const lang = document.documentElement.lang;
    const home_path = lang === "en" ? "/" : `/${lang}`;

    const home_button = document.getElementById("marthox_home_button");
    if (home_button) {
        home_button.addEventListener("click", () => {
            location.href = home_path;
        });
    }
</script>
<button id="marthox_home_button">
    <div class="logo">
        <Fragment set:html={logo} />
    </div>
</button>
<style>
    .logo {
        width: 100%;
        height: 100%;
        fill: var(--primaryBaseColor);
        stroke: var(--primaryBaseColor);
    }
    button {
        padding: 0.5rem;
        display: flex;
        height: 3rem;
        width: 3rem;
    }
    button:hover > .logo {
        fill: var(--secondaryHighlightColor);
        stroke: var(--secondaryHighlightColor);
    }
</style>
