---
import Layout from "@layouts/Layout.astro";

import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const base_url = "/es/about";

const categories = {
    summary: t("inner_nav.summary"),
    music: t("inner_nav.music"),
    history: t("inner_nav.history"),
    curriculum: t("inner_nav.curriculum"),
};

const current_tab_selected = Astro.url.pathname.split("/").pop();

const nav_elements = Object.entries(categories).map(([key, value]) => ({
    nav_name: value,
    href: `${base_url}/${key}`,
    is_active: key === current_tab_selected,
}));
---

<Layout title="Hola, Soy Mateo!" lang="en">
    <div class="wip-banner">
        <p>
            This page is under construction. Check back soon for more updates!
        </p>
    </div>
</Layout>
<style>
    .wip-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        padding: 1rem;
        text-align: center;
        font-weight: bold;
    }
</style>
